{% extends 'ear_tune/base.html' %}
{% load static %}

{% block title %}{{ game.name }} - Challenge{% endblock %}

{% block content %}
<div>
  <h2>{{ challenge.get_challenge_type_display }}</h2>
  <p>{{ challenge.prompt }}</p>

  {% if challenge.challenge_type == "note" and audio_file %}
  <p><em>Please enter your answer using lowercase letters. For sharps, use "asharp" (e.g., "asharp" for A#) and for naturals simply the note (e.g., "c" for C).</em></p>
    <audio controls>
      <source src="{% static 'audio/notes/' %}{{ audio_file }}" type="audio/wav">
      Your browser does not support the audio element.
    </audio>
  {% endif %}

  {% if active_session %}
  <p>Current Score: {{ active_session.score }}</p>
  <p>Attempts Left: {{ active_session.attempts_left }}</p>
{% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Answer</button>
  </form>

  {% if result %}
    <p>{{ result }}</p>
  {% endif %}
</div>
{% endblock %}
