{% extends 'ear_tune/base.html' %}

{% block title %}{{ game.name }} - Challenge{% endblock %}

{% block content %}
<div>
  <h2>{{ challenge.get_challenge_type_display }}</h2>
  <p>{{ challenge.prompt }}</p>

  {% if challenge.challenge_type == "note" %}
    <audio controls>
        <source src="{% static 'audio/notes/' %}{{ challenge.correct_answer}}_3/wav" type="audio/wav">
    {% else %}
        <source src="{% static 'audio/notes/' %}{{ challenge.correct_answer }}3.wav" type="audio/wav">
    {% endif %}
    Your browser does not support the audio element.
    </audio>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Answer</button>
  </form>

 <!-- Display the result message if available -->
  {% if result %}
    <p>{{ result }}</p>
  {% endif %}

</div>
{% endblock %}

