{% extends 'ear_tune/base.html' %}

{% block title %}Game History{% endblock %}

{% block content %}
  <h2>Game History</h2>
  {% if sessions %}
    <ul>
        {% for session in sessions %}
          <li>
            <strong>{{ session.date_played|date:"SHORT_DATETIME_FORMAT" }}:</strong>
            Score: {{ session.score }} - Challenge: {{ session.challenge.prompt }}
          </li>
        {% endfor %}
    </ul>
  {% else %}
    <p>No game sessions recorded yet.</p>
  {% endif %}
{% endblock %}