{% extends 'ear_tune/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <h2>{{ challenge.get_challenge_type_display }}</h2>
    <p>{{ challenge.prompt }}</p>
    <!-- Later, we can add the answer form here -->
     
    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">Submit Answer</button>
    </form>

    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
</div>

<hr>

<!-- Game Selection Section -->
<div class="game-selection">
    <h3>Available Games</h3>
    {% if games %}
        <ul>
            {% for game in games %}
                <li><a href="{% url 'ear_tune:game_detail' game.id %}">{{ game.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No games available.</p>
    {% endif %}
</div>

{% endblock %}