{% extends 'ear_tune/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <h2>{{ welcome_message }}</h2>
    <p>Please choose one of the available games below:</p>
    
    {% if games %}
        <ul>
            {% for game in games %}
                <li>
                    <a href="{% url 'ear_tune:game_detail' game.id %}">{{ game.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No games available at the moment.</p>
    {% endif %}
</div>
{% endblock %}
